<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="../../css/style.css" rel="stylesheet" type="text/css" />
<title>{$title}</title>
</head>
<body>
<div id="location">
您的位置：<a href="/ebook">首页》<a href="/ebook/data/artiles/{$artileid}.htm">{$article}</a>
</div>
<div id="container">
<div id="novel_title"><h1>{$title}</h1></div>
<div id="novel_content">{$chpctx}</div>
</div>
</div>
</body>
</html>
