<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>开心狗读书频道</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="ebook_content">
	<div id="book_header">
		开心狗读书频道
	</div>
	<div id="nav">
		<ul>
		<li class="li_nav"><a href="">网站首页</a></li>
		<li class="li_nav"><a href="">玄幻小说</a></li>
		<li class="li_nav"><a href="">言情小说</a></li>
		<li class="li_nav"><a href="">仙侠修真</a></li>
		<li class="li_nav"><a href="">都市小说</a></li>
		<li class="li_nav"><a href="">历史小说</a></li>
		<li class="li_nav"><a href="">网游小说</a></li>
		<li class="li_nav"><a href="">竞技小说</a></li>
		<li class="li_nav"><a href="">科幻小说</a></li>
		<li class="li_nav"><a href="">全本小说</a></li>
		</ul>
		<br>
	</div>
	<div id="search">
		<p>书名：<input  id="s1" maxlength="100" >
		</input> <button onClick="">搜索</button></p>
	</div>
	<div id="booklst">
		<ul>
			<li class="li_booklst">
			<a href="">
			adfasfs
			</a>
			</li>
			<li class="li_booklst">
			<a href="">
			adfasfs
			</a>
			</li>
			<li class="li_booklst">
			<a href="">
			adfasfs
			</a>
			</li>
		</ul>
	</div>
</div>

</body>
</html>
