<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="book_header" class="header">
<div id="book_topimg">
<div id="book_topbg">
<div id="book_logo"></div>
</div>
</div>
<div class="nav">
<ul>
<li><a href="/">网站首页</a></li>
<li><a href="/xuanhuan/">玄幻小说</a></li>
<li><a href="/yanqing/">言情小说</a></li>
<li><a href="/xianxia/">仙侠修真</a></li>
<li><a href="/dushi/">都市小说</a></li>
<li><a href="/lishi/">历史小说</a></li>
<li><a href="/wangyou/">网游小说</a></li>
<li><a href="/jingji/">竞技小说</a></li>
<li><a href="/kehuan/">科幻小说</a></li>
<li><a href="/quanben/">全本小说</a></li>
</ul>
</div>
<div class="search">
<div class="w960 center">
<span class="search_l"></span><span class="search_r"></span>
<form action="/search/" name="formsearch">
<div class="form">
<h4>搜索</h4>
<input name="skey" class="search-keyword" id="skey" type="text">
<select name="t" class="search-option" id="t">
<option value="1" selected="1">仅搜索书名</option>
<option value="2">仅搜索作者</option>
</select>
<button type="submit" class="search-submit">搜索</button>
</div>
</form>
<div class="tags">
<h4>热门标签</h4>
<script src="/Js/tags.js" type="text/javascript"></script><ul>
<li><a href="/book/7572/" target="_blank">造神</a></li>
<li><a href="/book/7651/" target="_blank">明朝好丈夫</a></li>
<li><a href="/book/7634/" target="_blank">修仙狂徒</a></li>
<li><a href="/book/7622/" target="_blank">雄霸蛮荒</a></li>
<li><a href="/book/7704/" target="_blank">最强客卿</a></li>
<li><a href="/book/7627/" target="_blank">八零后少林方丈</a></li>
</ul>

<script src="http://bdimg.share.baidu.com/static/js/logger.js?cdnversion=376288"></script></div>
</div>
</div>
</div>
</body>
</html>
