<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>开心狗读书频道</title>
<link href="../css/ez-index.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Layout 1 -->
<div id="wrapper">
  <div id="header">
	<div id="nav">
		<ul>
		<li class="li_nav"><a href="/ebook/data/index.htm">网站首页</a></li>
		<li class="li_nav"><a href="/ebook/data/xuanhuan.htm">玄幻小说</a></li>
		<li class="li_nav"><a href="/ebook/data/yanqing.htm">言情小说</a></li>
		<li class="li_nav"><a href="/ebook/data/xianxia.htm">仙侠修真</a></li>
		<li class="li_nav"><a href="/ebook/data/dushi.htm">都市小说</a></li>
		<li class="li_nav"><a href="/ebook/data/lishi.htm">历史小说</a></li>
		<li class="li_nav"><a href="/ebook/data/wangyou.htm">网游小说</a></li>
		<li class="li_nav"><a href="/ebook/data/jingji.htm">竞技小说</a></li>
		<li class="li_nav"><a href="/ebook/data/kehuan.htm">科幻小说</a></li>
		<li class="li_nav"><a href="/ebook/data/quanben.htm">全本小说</a></li>
		</ul>
		<br>
	</div>
	<div id="search">
		<p>书名：<input  id="s1" maxlength="100" >
		</input> <button onClick="">搜索</button></p>
	</div>
  </div>
  <div id="body">
  <p>您的位置：首页》推荐列表</p>
  <ul>
		<li class="li_menu"><a href="" target="_blank">华山仙门</a></li>
		<li class="li_menu"><a href="" target="_blank">凡人修仙传</a></li>
		<li class="li_menu"><a href="" target="_blank">天元神诀</a></li>
		<li class="li_menu"><a href="" target="_blank">洪荒之证道不朽</a></li>
  </ul>
  </div>
  <div id="footer">
	<p>本站所有文章均由书虫网络程序自动收集，仅供测试,如果您喜欢，请支持正版，谢谢</p>
	<script language="javascript" type="text/javascript" src="http://js.users.51.la/15220580.js"></script>
<noscript><a href="http://www.51.la/?15220580" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/15220580.asp" style="border:none" /></a></noscript>
  </div>
</div>

</body>

</html>
