<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>文章列表</title>
</head>

<body>
<table border="1">
<tr>
	<td>文章标题</td>
	<td>文章类型</td>
	<td>操作</td>
</tr>
{section name=list loop=$artile}
<tr>
	<td>{$artile[list].title}</td>
	<td>{$artile[list].category_name}</td>
	<td>
	<a href="{$artile[list].local_url}" target="_blank">查看</a>
	</td>
</tr>
{/section}
</table>
</body>
</html>
